body{
 background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items:center;
  bottom: 200px;

}
